/* Product Card Styles */
.container.cards-container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.row.cards-row {
    margin-bottom: 50px;
}

article .col-md-4.card-item {
    margin-bottom: 30px; /* Añade espacio entre las filas */
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 60px; /* Añadir espacio entre las tarjetas */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-color: #f4e05f;
    color: #000000fc; /* Asegura que el texto sea visible sobre el fondo oscuro */
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para centrar el contenido verticalmente */
}

.card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    border: none;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title, .card-text {
    font-size: 1rem;
    color: #000000;
}

.img-fluid {
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Specific Styles */
.content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    font-family: "Baskervville", serif;
    font-weight: 200;
    color: #302e2e;
}

/* Responsive Design */
@media (max-width: 992px) {
    .card {
        height: 250px;
    }
}

